# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Source/MT5LiquidityIndicator/MT5LiquidityIndicator/Debug
/Source/MT5LiquidityIndicator/Debug
/Source/MT5LiquidityIndicator/.vs/MT5LiquidityIndicator/v14
/Source/MT5LiquidityIndicator/MT5LiquidityIndicator/Release
/Source/MT5LiquidityIndicator/MT5LiquidityIndicator.Net/obj
/Source/MT5LiquidityIndicator/Release
/Source/MT5LiquidityIndicator/ipch
/Source/MT5LiquidityIndicator/MT5LiquidityIndicator.sdf
/Source/MT5LiquidityIndicator/MT5LiquidityIndicator.opensdf
